aside {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    z-index: 1;
    overflow-y: auto;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s;
}

aside.open {
    transform: translateX(0);
}

aside.close {
    transform: translateX(-75%);
}

button {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 10px grey;
    background-color: black;
    border-radius: 50%;
}

.toggle-button {
    transform: translateX(-50%);
}

.add-post-button {
    transform: translate(-475%, 450%);
}
  