.post{
    width: 40vw;
    border-bottom: 2px solid gray;
    margin: 20px;
}

.post-image{
    display: block;
    margin: 5px auto;
    width: 90%;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-footer input{
    height: 5vh;
    margin: 10px;
}